
@media screen and (max-width: 560px){

    /* Responsivo Seção Hero */
    .hero .container{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .hist h1{
        font-size: 1.5rem;
    }

    .hero .hero-txt{
        width: 90%;
        color: #00919E;
    }

    .hero .hero-txt p{
        font-size: 1.3rem;
        line-height: 25px;
    }

    .hero .hero-txt span{
        font-size: 0.9rem;
    }

    /* Responsivo Seção History */
    section.hist{
        height: auto;
    }

    .hist h1{
        margin-top: 30px;
    }

    .hist .wrapper{
        flex-direction: column;
    }

    .hist .team{
        gap: 20px;
    }

    .hist .team img{
        width: 100%;
    }

    .hist .barra{
        display: none;
    }

    .hist .hist-txt{
        min-width: 100%;
    }

    .hist .hist-txt p{
        font-size: 0.9rem;
    }

    .hist .hist-txt:last-child{
        margin-bottom: 20px;
    }
}